.contact-body {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 20px;
}

.contact-body-form {
  width: 100%;
  grid-row-gap: 24px;
  border-radius: 20px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  padding: 30px 40px 40px;
  font-size: 14px;
  display: flex;
}

.contact-body-form-header {
  margin-bottom: 20px;
}

.contact-body-form-header h3 {
  text-align: left;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.4;
}

.contact-body-form-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-body-form-body-in {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contact-body-form-header p {
  font-weight: 900;
  font-size: 22px;
}

.contact-body-form-body input {
  width: 100%;
  height: 45px;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.contact-body-form-body-radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-body-form-body-radio input {
  width: 12px;
  height: 12px;
}

.contact-body-form-body-radio > div {
  justify-content: left;
  align-items: center;
}

.contact-body-form-body-submit a {
  width: fit-content;
}

.contact-body-form-body-submit {
  display: flex;
  justify-content: flex-end;
}

.contact-body-map {
  border-radius: 20px;
  padding: 30px 40px 40px;
}

@media (max-width: 767px) {
  .contact-body-form-body-in {
    flex-direction: column;
  }

  .contact-body {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .contact-body {
    flex-direction: column;
  }
}
