@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Oswald:wght@400&family=Roboto:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Mono", sans-serif;
}

:root {
  --white: #fcfcfd;
  --black: #363738;
  --pink_primary: #fb508e;
  --sef_primary: #28eea7;
  --grey: #a5a6a9;
  --black-2: #232323;
  --daf_primary: #fb4747;
  --background: #f1f2f3;
  --ylw_primary: #ffc635;
  --ppl_primary: #9864da;
  --overlay-black: rgba(35, 35, 35, 0.9);
  --light_grey: #dcdee1;
  --hrf_primary: #31b7f0;
  --overlay-green: rgba(40, 238, 167, 0.9);
  --ghost-white: #ecedf3;
  --purple-overlay: rgba(152, 100, 218, 0.9);
}

main {
  width: 100%;
  max-width: 1200px;
}

html,
body {
  width: auto;
  margin: auto;
  max-width: 1200px;
}

a,
a:active,
a:focus,
a:focus-visible,
a:focus-within {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 15px 20px;
  font-weight: 800;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
}

.px-10 {
  padding: 0 10px;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-light-grey {
  background-color: var(--light_grey);
}

.bg-sef-primary {
  background-color: var(--sef_primary);
}

.bg-off-white {
  background-color: var(--background);
}

.z-10 {
  z-index: 10;
}

.w-h-24 {
  width: 24px;
  height: 24px;
}

.rounded-full {
  border-radius: 99999px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.padd {
  padding: 70px;
}

.title-row {
  width: 100%;
  height: 46px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.title-row h2 {
  color: var(--black);
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.title-row h2::before {
  content: ">";
  margin-right: 20px;
  font-size: 36px;
  color: var(--overlay-green);
}

/* phones */
@media (max-width: 479px) {
  .gap-20 {
    gap: 10px;
  }

  .padd {
    padding: 24px;
  }

  .title-row h2 {
    font-size: 20px;
  }

  .title-row h2::before {
    margin-right: 10px;
  }
}

/* tablets */
@media (min-width: 480px) and (max-width: 767px) {
  .gap-20 {
    gap: 10px;
  }

  .padd {
    padding: 40px;
  }
}

/* desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .padd {
    padding: 70px;
  }
}
