.milestones-content {
  display: flex;
  flex-flow: column;
  align-self: stretch;
}

.milestones-content-cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.milestones-card,
.milestones-card-top {
  padding: 60px 70px;
  font-size: 16px;
  border-radius: 20px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.milestones-card {
  padding: 40px;
}

.milestones-card-top {
  padding: 60px 70px;
  height: 100%;
}

.milestones-card-top h3,
.milestones-card h3 {
  font-size: 64px;
}

.milestones-content-second {
  display: flex;
  flex-direction: column;
}

/* phones */
@media (max-width: 479px) {
  .milestones-content-cards {
    margin-top: 36px;
    flex-direction: column;
  }

  .milestones-card-top h3 {
    font-size: 42px !important;
  }

  .milestones-card-top div {
    font-size: 14px;
  }

  .milestones-card,
  .milestones-card-top {
    font-size: 24px;
    padding: 30px 20px;
  }

  .milestones-card h3 {
    font-size: 24px;
  }

  .milestones-card p {
    font-size: 12px;
  }
}

/* tablets */
@media (min-width: 480px) and (max-width: 767px) {
  .milestones-content-cards {
    margin-top: 40px;
    flex-direction: column;
  }

  .milestones-card-top h3 {
    font-size: 64px !important;
  }

  .milestones-card-top div {
    font-size: 16px;
  }

  .milestones-card,
  .milestones-card-top {
    padding: 30px 35px;
  }

  .milestones-card h3 {
    font-size: 42px;
  }

  .milestones-card p {
    font-size: 14px;
  }
}

/* desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .milestones-content-cards {
    flex-direction: column;
  }

  .milestones-card-top {
    height: 498px;
    padding: 40px;
  }

  .milestones-card-top div {
    font-size: 16px;
  }

  .milestones-card h3,
  .milestones-card-top h3 {
    font-size: 64px;
  }

  .milestones-card p {
    font-size: 16px;
  }
}

/* larger desktops */
@media (min-width: 992px) {
  .milestones-content-cards {
    flex-direction: row;
  }

  .milestones-card-top,
  .milestones-content-second {
    width: 50%;
  }

  .milestones-card-top {
    height: 476px;
  }

  .milestones-card-top h3 {
    font-size: 120px;
  }

  .milestones-card-top div {
    font-size: 32px;
  }

  .milestones-card-top p {
    font-size: 14px;
  }
}
